# OTAPulse UCI configuration
# Edit with: uci set otapulse.server.url='https://your-server.com'

config server 'server'
	option url ''
	option tenant_token ''

config device 'device'
	option type ''
	option rootfs_part_a '/dev/mmcblk0p3'
	option rootfs_part_b '/dev/mmcblk0p4'
	option use_file_bootenv '1'

config timing 'timing'
	option update_poll '1800'
	option inventory_poll '28800'
	option retry_poll '300'

config security 'security'
	option verify_key ''
