# OTA-Pulse A/B Partition Layout for NXP i.MX Platforms
#
# This genimage configuration is optimized for NXP i.MX6/i.MX8 SoCs.
# Includes proper bootloader offset for i.MX boot ROM requirements.
#
# Partition layout:
#   - Bootloader at offset 33KB (i.MX requirement)
#   - Boot partition (FAT32, kernel + DTB)
#   - Root A partition (ext4, primary rootfs)
#   - Root B partition (ext4, OTA update target)
#   - Data partition (ext4, persistent storage)
#

image boot.vfat {
    vfat {
        files = {
            "zImage",
            "imx*.dtb",
            "boot.scr"
        }
    }
    size = 64M
}

image rootfs.ext4 {
    ext4 {
        label = "rootfs_a"
        use-mke2fs = true
    }
    size = ${OTAPULSE_ROOTFS_SIZE:-1G}
}

image rootfs_b.ext4 {
    ext4 {
        label = "rootfs_b"
        use-mke2fs = true
    }
    size = ${OTAPULSE_ROOTFS_SIZE:-1G}
    empty = true
}

image data.ext4 {
    ext4 {
        label = "data"
        use-mke2fs = true
    }
    size = ${OTAPULSE_DATA_SIZE:-512M}
    empty = true
}

image sdcard-imx-ab.img {
    hdimage {
        gpt = true
    }

    # Bootloader (U-Boot) at 33KB offset for i.MX
    partition u-boot {
        in-partition-table = false
        image = "u-boot.imx"
        offset = 33K
    }

    partition boot {
        partition-type-uuid = C12A7328-F81F-11D2-BA4B-00A0C93EC93B
        image = boot.vfat
        bootable = true
        offset = 4M
    }

    partition rootfs_a {
        partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
        image = rootfs.ext4
    }

    partition rootfs_b {
        partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
        image = rootfs_b.ext4
    }

    partition data {
        partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
        image = data.ext4
    }
}
